html, body, #app {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    margin: 0;
}

.light {
    color: black;
    background-color: white;
    min-width: 100%;
    min-height: 100%;
}

.dark {
    background-color: #1c2022;
    color: white;
    min-width: 100%;
    min-height: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em;
}

.title {
    font-weight: bold;
}

.title a {
    text-decoration: none;
}

.page-title {
    font-size: 2em;
}

.page-header {
    margin-bottom: 1em;
}

.section-title {
    font-size: 1.5em;
}

.post {
    margin: 1em 0;
}

.post-title {
    font-size: 1.2em;
}

.title-light {
    color: black;
}

.title-light a {
    color: rgb(187, 46, 31);
}

.title-dark {
    color: white;
}

.title-dark a {
    color: rgb(222, 75, 59);
}

.metadata span {
    margin-right: 0.25em;
}

.subtitle-light {
    color: rgb(128, 128, 128);
}

.subtitle-light a {
    color: black;
}

.subtitle-dark {
    color: rgb(150, 150, 150);
}

.subtitle-dark a {
    color: white;
}

.comment-box {
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.14);
}

.post-content {
    margin: 10px 0;
}

.dark-text a {
    color: rgb(115, 198, 242);
}

.return-link {
    margin: 10px 0;
}

.return-link a {
    color: black;
}

.button-link {
    border: none;
    font: inherit;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
}

.link-light, .link-light a {
    color: black;
}

.link-dark, .link-dark a {
    color: white;
}

nav {
    margin-bottom: 15px;
}

nav h1 {
    margin-bottom: 0px;
    font-size: 2em;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links li {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.25em;
}

.nav-link {
    text-decoration: none;
}

.nav-link-light {
    color: rgb(175, 175, 175);
}

.nav-link-dark {
    color: rgb(100, 100, 100);
}

.nav-button {
    border: none;
    font: inherit;
    font-size: 1.75em;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
